{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Planeador de Medias</title>
	<link rel="stylesheet" href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}" >
</head>
<body>
	{% if emisoras %}
			{{ for e in emisoras }}
				<p>{{e.nombre}}</p>
		{% else %}

			<p>No hay datos</p>

		{% endif %}
	

	<script src="{% static 'dist/jquery/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'dist/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>