
{% extends 'base.html' %}
{%block content %}
	<div class="container">
		<div class="col-md-4">
			<div class="clientes"> 
				<span>Clientes:</span>
				<p>
					{% if cliente %}
						{% for cliente in cliente %}
							<p><a href="/cliente/{{cliente.id}}/">{{cliente.nombre}}</a></p>
						{% endfor %}
					{% else %}
						<p>No hay datos</p>
					{% endif %}
				</p>			
			</div>
		</div>
		<div class="col-md-4">
			<div class="Campañas"> 
				<span>Campañas:</span>
				<p>
					{% if camp %}
						{% for camp in camp %}
							<p><a href="/camp/{{camp.id}}/">{{camp.nombre}}</a></p>
						{% endfor %}
					{% else %}
							<p>No hay datos</p>
					{% endif %}
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="resumen">
				<span>Presupuesto Radio:</span>
				<p>
					{% if anuncios %}
						{% for anuncios in anuncios %}
							<p><a href="/resumenradio/{{anuncios.id}}/">{{anuncios.nombre}} {{anuncios.emisora.nombre}} {{anuncios.emisora.frecuencia}} {{anuncios.emisora.banda.nombre}} de grupo {{anuncios.emisora.grupo.nombre}}</a>
							</p>
						{% endfor %}
					{% else %}
							<p>No hay datos</p>
					{% endif %}
					
				</p>
			</div>
		</div>
	</div>
{% endblock %}

